 .container{
     margin: auto;
      display: flexbox;
      flex-direction: column;
      width: 50vw;
      text-align: center;

 }



textarea{
    height: 10vh;
    width: 92%;
    margin: auto;
    margin-bottom: 2rem;
    border: solid black;
    border-radius: 1rem;
}
.div-output-head{
    font-size: 23px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
#translate{
    max-width: 50%;
    margin: auto;
    padding: 1rem;
    border: solid black;
    border-radius: 1rem;
}
body{
    background-color: yellow;
}
#output-area{
    display: block;
    width: 90%;
    height: 10vh;
    margin: auto;
    border:solid;
    background-color: white;
    border-radius: 1rem;

}